# Created by .ignore support plugin (hsz.mobi)
global-ignores = *.idea *.o *.lo *.la *.al .libs *.so *.so.[0-9]* *.pyc *.pyo [Tt]humbs.db [Bb]in [Oo]bj  *.suo *.user
（ [Bb]in [Oo]bj  *.suo *.user
.idea/.gitignore
